<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/disc/bootstrap/dist/css/bootstrap.css">
    <script src="~/disc/jquery/jquery.js"></script>
</head>
<body class="m-1 p-1">
    <div>
        @RenderBody()
    </div>
    <footer class="pt-4 footer fixed-bottom ">

        <div class="text-center py-3">
            © 2019 Copyright: TodoList.com
        </div>
    </footer>
</body>
</html>
