
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" asp-href-include="~/disc/bootstrap/dist/css/*.min.css"/>
    <script src="~/disc/jquery/jquery.min.js"></script> 
</head>
<body class="m-1">
    <div class="text-center">
        <div>
            <label></label>
            <button class=""><span class="glyphicon glyphicon-star"></span></button>
            <button></button>
        </div>
    </div>
    <footer class="page-footer font-small unique-color-dark pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2018 Copyright: TodoList.com
        </div>
    </footer>
</body>
</html>
